=begin
#Vobiz API

#Complete Vobiz API collection covering all endpoints: Calls, Conferences, Recordings, Account, Phone Numbers, Applications, Endpoints, Trunks, Sub-Accounts, and CDR.  Base URL: https://api.vobiz.ai  Authentication: All requests require X-Auth-ID and X-Auth-Token headers.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Vobiz
  class CallApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Hang Up a Call
    # Terminate an active call. Returns 204 No Content.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @return [nil]
    def api_v1_account_auth_id_call_delete(auth_id, opts = {})
      api_v1_account_auth_id_call_delete_with_http_info(auth_id, opts)
      nil
    end

    # Hang Up a Call
    # Terminate an active call. Returns 204 No Content.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_v1_account_auth_id_call_delete_with_http_info(auth_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallApi.api_v1_account_auth_id_call_delete ...'
      end
      # verify the required parameter 'auth_id' is set
      if @api_client.config.client_side_validation && auth_id.nil?
        fail ArgumentError, "Missing the required parameter 'auth_id' when calling CallApi.api_v1_account_auth_id_call_delete"
      end
      # resource path
      local_var_path = '/api/v1/Account/{auth_id}/Call/{}/'.sub('{' + 'auth_id' + '}', CGI.escape(auth_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Auth-ID'] = opts[:'x_auth_id'] if !opts[:'x_auth_id'].nil?
      header_params[:'X-Auth-Token'] = opts[:'x_auth_token'] if !opts[:'x_auth_token'].nil?
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuthID', 'ApiKeyAuthToken']

      new_options = opts.merge(
        :operation => :"CallApi.api_v1_account_auth_id_call_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallApi#api_v1_account_auth_id_call_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send DTMF Digits
    # Send DTMF digits to an active call for automated IVR navigation.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @option opts [Object] :body 
    # @return [nil]
    def api_v1_account_auth_id_call_dtmf_post(auth_id, opts = {})
      api_v1_account_auth_id_call_dtmf_post_with_http_info(auth_id, opts)
      nil
    end

    # Send DTMF Digits
    # Send DTMF digits to an active call for automated IVR navigation.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @option opts [Object] :body 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_v1_account_auth_id_call_dtmf_post_with_http_info(auth_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallApi.api_v1_account_auth_id_call_dtmf_post ...'
      end
      # verify the required parameter 'auth_id' is set
      if @api_client.config.client_side_validation && auth_id.nil?
        fail ArgumentError, "Missing the required parameter 'auth_id' when calling CallApi.api_v1_account_auth_id_call_dtmf_post"
      end
      # resource path
      local_var_path = '/api/v1/Account/{auth_id}/Call/{}/DTMF/'.sub('{' + 'auth_id' + '}', CGI.escape(auth_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Auth-ID'] = opts[:'x_auth_id'] if !opts[:'x_auth_id'].nil?
      header_params[:'X-Auth-Token'] = opts[:'x_auth_token'] if !opts[:'x_auth_token'].nil?
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuthID', 'ApiKeyAuthToken']

      new_options = opts.merge(
        :operation => :"CallApi.api_v1_account_auth_id_call_dtmf_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallApi#api_v1_account_auth_id_call_dtmf_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve All Queued Calls
    # Get a list of all call UUIDs for calls currently queued and waiting to connect. Max 20 results.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @option opts [String] :status Must be &#39;queued&#39;
    # @return [nil]
    def api_v1_account_auth_id_call_get(auth_id, opts = {})
      api_v1_account_auth_id_call_get_with_http_info(auth_id, opts)
      nil
    end

    # Retrieve All Queued Calls
    # Get a list of all call UUIDs for calls currently queued and waiting to connect. Max 20 results.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @option opts [String] :status Must be &#39;queued&#39;
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_v1_account_auth_id_call_get_with_http_info(auth_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallApi.api_v1_account_auth_id_call_get ...'
      end
      # verify the required parameter 'auth_id' is set
      if @api_client.config.client_side_validation && auth_id.nil?
        fail ArgumentError, "Missing the required parameter 'auth_id' when calling CallApi.api_v1_account_auth_id_call_get"
      end
      # resource path
      local_var_path = '/api/v1/Account/{auth_id}/Call/'.sub('{' + 'auth_id' + '}', CGI.escape(auth_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Auth-ID'] = opts[:'x_auth_id'] if !opts[:'x_auth_id'].nil?
      header_params[:'X-Auth-Token'] = opts[:'x_auth_token'] if !opts[:'x_auth_token'].nil?
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuthID', 'ApiKeyAuthToken']

      new_options = opts.merge(
        :operation => :"CallApi.api_v1_account_auth_id_call_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallApi#api_v1_account_auth_id_call_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a Queued Call
    # Get details of a specific queued call.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @option opts [String] :status Must be &#39;queued&#39;
    # @return [nil]
    def api_v1_account_auth_id_call_get_0(auth_id, opts = {})
      api_v1_account_auth_id_call_get_0_with_http_info(auth_id, opts)
      nil
    end

    # Retrieve a Queued Call
    # Get details of a specific queued call.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @option opts [String] :status Must be &#39;queued&#39;
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_v1_account_auth_id_call_get_0_with_http_info(auth_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallApi.api_v1_account_auth_id_call_get_0 ...'
      end
      # verify the required parameter 'auth_id' is set
      if @api_client.config.client_side_validation && auth_id.nil?
        fail ArgumentError, "Missing the required parameter 'auth_id' when calling CallApi.api_v1_account_auth_id_call_get_0"
      end
      # resource path
      local_var_path = '/api/v1/Account/{auth_id}/Call/{}/'.sub('{' + 'auth_id' + '}', CGI.escape(auth_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Auth-ID'] = opts[:'x_auth_id'] if !opts[:'x_auth_id'].nil?
      header_params[:'X-Auth-Token'] = opts[:'x_auth_token'] if !opts[:'x_auth_token'].nil?
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuthID', 'ApiKeyAuthToken']

      new_options = opts.merge(
        :operation => :"CallApi.api_v1_account_auth_id_call_get_0",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallApi#api_v1_account_auth_id_call_get_0\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Stop Playing Audio on a Call
    # Stop audio playback on an active call. Returns 204 No Content.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @return [nil]
    def api_v1_account_auth_id_call_play_delete(auth_id, opts = {})
      api_v1_account_auth_id_call_play_delete_with_http_info(auth_id, opts)
      nil
    end

    # Stop Playing Audio on a Call
    # Stop audio playback on an active call. Returns 204 No Content.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_v1_account_auth_id_call_play_delete_with_http_info(auth_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallApi.api_v1_account_auth_id_call_play_delete ...'
      end
      # verify the required parameter 'auth_id' is set
      if @api_client.config.client_side_validation && auth_id.nil?
        fail ArgumentError, "Missing the required parameter 'auth_id' when calling CallApi.api_v1_account_auth_id_call_play_delete"
      end
      # resource path
      local_var_path = '/api/v1/Account/{auth_id}/Call/{}/Play/'.sub('{' + 'auth_id' + '}', CGI.escape(auth_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Auth-ID'] = opts[:'x_auth_id'] if !opts[:'x_auth_id'].nil?
      header_params[:'X-Auth-Token'] = opts[:'x_auth_token'] if !opts[:'x_auth_token'].nil?
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuthID', 'ApiKeyAuthToken']

      new_options = opts.merge(
        :operation => :"CallApi.api_v1_account_auth_id_call_play_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallApi#api_v1_account_auth_id_call_play_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Play Audio on a Call
    # Play audio file(s) during an active call.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @option opts [Object] :body 
    # @return [nil]
    def api_v1_account_auth_id_call_play_post(auth_id, opts = {})
      api_v1_account_auth_id_call_play_post_with_http_info(auth_id, opts)
      nil
    end

    # Play Audio on a Call
    # Play audio file(s) during an active call.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @option opts [Object] :body 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_v1_account_auth_id_call_play_post_with_http_info(auth_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallApi.api_v1_account_auth_id_call_play_post ...'
      end
      # verify the required parameter 'auth_id' is set
      if @api_client.config.client_side_validation && auth_id.nil?
        fail ArgumentError, "Missing the required parameter 'auth_id' when calling CallApi.api_v1_account_auth_id_call_play_post"
      end
      # resource path
      local_var_path = '/api/v1/Account/{auth_id}/Call/{}/Play/'.sub('{' + 'auth_id' + '}', CGI.escape(auth_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Auth-ID'] = opts[:'x_auth_id'] if !opts[:'x_auth_id'].nil?
      header_params[:'X-Auth-Token'] = opts[:'x_auth_token'] if !opts[:'x_auth_token'].nil?
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuthID', 'ApiKeyAuthToken']

      new_options = opts.merge(
        :operation => :"CallApi.api_v1_account_auth_id_call_play_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallApi#api_v1_account_auth_id_call_play_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Make an Outbound Call
    # Initiate an outbound call to a PSTN number or SIP endpoint. Supports bulk calls (up to 1000 destinations using < separator).
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @option opts [Object] :body 
    # @return [nil]
    def api_v1_account_auth_id_call_post(auth_id, opts = {})
      api_v1_account_auth_id_call_post_with_http_info(auth_id, opts)
      nil
    end

    # Make an Outbound Call
    # Initiate an outbound call to a PSTN number or SIP endpoint. Supports bulk calls (up to 1000 destinations using &lt; separator).
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @option opts [Object] :body 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_v1_account_auth_id_call_post_with_http_info(auth_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallApi.api_v1_account_auth_id_call_post ...'
      end
      # verify the required parameter 'auth_id' is set
      if @api_client.config.client_side_validation && auth_id.nil?
        fail ArgumentError, "Missing the required parameter 'auth_id' when calling CallApi.api_v1_account_auth_id_call_post"
      end
      # resource path
      local_var_path = '/api/v1/Account/{auth_id}/Call/'.sub('{' + 'auth_id' + '}', CGI.escape(auth_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Auth-ID'] = opts[:'x_auth_id'] if !opts[:'x_auth_id'].nil?
      header_params[:'X-Auth-Token'] = opts[:'x_auth_token'] if !opts[:'x_auth_token'].nil?
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuthID', 'ApiKeyAuthToken']

      new_options = opts.merge(
        :operation => :"CallApi.api_v1_account_auth_id_call_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallApi#api_v1_account_auth_id_call_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Transfer a Call
    # Transfer an in-progress call to a different URL for new call flow instructions.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @option opts [Object] :body 
    # @return [nil]
    def api_v1_account_auth_id_call_post_0(auth_id, opts = {})
      api_v1_account_auth_id_call_post_0_with_http_info(auth_id, opts)
      nil
    end

    # Transfer a Call
    # Transfer an in-progress call to a different URL for new call flow instructions.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @option opts [Object] :body 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_v1_account_auth_id_call_post_0_with_http_info(auth_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallApi.api_v1_account_auth_id_call_post_0 ...'
      end
      # verify the required parameter 'auth_id' is set
      if @api_client.config.client_side_validation && auth_id.nil?
        fail ArgumentError, "Missing the required parameter 'auth_id' when calling CallApi.api_v1_account_auth_id_call_post_0"
      end
      # resource path
      local_var_path = '/api/v1/Account/{auth_id}/Call/{}/'.sub('{' + 'auth_id' + '}', CGI.escape(auth_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Auth-ID'] = opts[:'x_auth_id'] if !opts[:'x_auth_id'].nil?
      header_params[:'X-Auth-Token'] = opts[:'x_auth_token'] if !opts[:'x_auth_token'].nil?
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuthID', 'ApiKeyAuthToken']

      new_options = opts.merge(
        :operation => :"CallApi.api_v1_account_auth_id_call_post_0",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallApi#api_v1_account_auth_id_call_post_0\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Stop Recording a Call
    # Stop active recording(s) on a call. Returns 204 No Content.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @return [nil]
    def api_v1_account_auth_id_call_record_delete(auth_id, opts = {})
      api_v1_account_auth_id_call_record_delete_with_http_info(auth_id, opts)
      nil
    end

    # Stop Recording a Call
    # Stop active recording(s) on a call. Returns 204 No Content.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_v1_account_auth_id_call_record_delete_with_http_info(auth_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallApi.api_v1_account_auth_id_call_record_delete ...'
      end
      # verify the required parameter 'auth_id' is set
      if @api_client.config.client_side_validation && auth_id.nil?
        fail ArgumentError, "Missing the required parameter 'auth_id' when calling CallApi.api_v1_account_auth_id_call_record_delete"
      end
      # resource path
      local_var_path = '/api/v1/Account/{auth_id}/Call/{}/Record/'.sub('{' + 'auth_id' + '}', CGI.escape(auth_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Auth-ID'] = opts[:'x_auth_id'] if !opts[:'x_auth_id'].nil?
      header_params[:'X-Auth-Token'] = opts[:'x_auth_token'] if !opts[:'x_auth_token'].nil?
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuthID', 'ApiKeyAuthToken']

      new_options = opts.merge(
        :operation => :"CallApi.api_v1_account_auth_id_call_record_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallApi#api_v1_account_auth_id_call_record_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start Recording a Call
    # Begin recording an active call.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @option opts [Object] :body 
    # @return [nil]
    def api_v1_account_auth_id_call_record_post(auth_id, opts = {})
      api_v1_account_auth_id_call_record_post_with_http_info(auth_id, opts)
      nil
    end

    # Start Recording a Call
    # Begin recording an active call.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @option opts [Object] :body 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_v1_account_auth_id_call_record_post_with_http_info(auth_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallApi.api_v1_account_auth_id_call_record_post ...'
      end
      # verify the required parameter 'auth_id' is set
      if @api_client.config.client_side_validation && auth_id.nil?
        fail ArgumentError, "Missing the required parameter 'auth_id' when calling CallApi.api_v1_account_auth_id_call_record_post"
      end
      # resource path
      local_var_path = '/api/v1/Account/{auth_id}/Call/{}/Record/'.sub('{' + 'auth_id' + '}', CGI.escape(auth_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Auth-ID'] = opts[:'x_auth_id'] if !opts[:'x_auth_id'].nil?
      header_params[:'X-Auth-Token'] = opts[:'x_auth_token'] if !opts[:'x_auth_token'].nil?
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuthID', 'ApiKeyAuthToken']

      new_options = opts.merge(
        :operation => :"CallApi.api_v1_account_auth_id_call_record_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallApi#api_v1_account_auth_id_call_record_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Stop Speaking Text on a Call
    # Stop text-to-speech playback. Returns 204 No Content.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @return [nil]
    def api_v1_account_auth_id_call_speak_delete(auth_id, opts = {})
      api_v1_account_auth_id_call_speak_delete_with_http_info(auth_id, opts)
      nil
    end

    # Stop Speaking Text on a Call
    # Stop text-to-speech playback. Returns 204 No Content.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_v1_account_auth_id_call_speak_delete_with_http_info(auth_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallApi.api_v1_account_auth_id_call_speak_delete ...'
      end
      # verify the required parameter 'auth_id' is set
      if @api_client.config.client_side_validation && auth_id.nil?
        fail ArgumentError, "Missing the required parameter 'auth_id' when calling CallApi.api_v1_account_auth_id_call_speak_delete"
      end
      # resource path
      local_var_path = '/api/v1/Account/{auth_id}/Call/{}/Speak/'.sub('{' + 'auth_id' + '}', CGI.escape(auth_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Auth-ID'] = opts[:'x_auth_id'] if !opts[:'x_auth_id'].nil?
      header_params[:'X-Auth-Token'] = opts[:'x_auth_token'] if !opts[:'x_auth_token'].nil?
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuthID', 'ApiKeyAuthToken']

      new_options = opts.merge(
        :operation => :"CallApi.api_v1_account_auth_id_call_speak_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallApi#api_v1_account_auth_id_call_speak_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Speak Text on a Call (TTS)
    # Convert text to speech and play it during an active call. Supports 29 languages.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @option opts [Object] :body 
    # @return [nil]
    def api_v1_account_auth_id_call_speak_post(auth_id, opts = {})
      api_v1_account_auth_id_call_speak_post_with_http_info(auth_id, opts)
      nil
    end

    # Speak Text on a Call (TTS)
    # Convert text to speech and play it during an active call. Supports 29 languages.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @option opts [Object] :body 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_v1_account_auth_id_call_speak_post_with_http_info(auth_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallApi.api_v1_account_auth_id_call_speak_post ...'
      end
      # verify the required parameter 'auth_id' is set
      if @api_client.config.client_side_validation && auth_id.nil?
        fail ArgumentError, "Missing the required parameter 'auth_id' when calling CallApi.api_v1_account_auth_id_call_speak_post"
      end
      # resource path
      local_var_path = '/api/v1/Account/{auth_id}/Call/{}/Speak/'.sub('{' + 'auth_id' + '}', CGI.escape(auth_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Auth-ID'] = opts[:'x_auth_id'] if !opts[:'x_auth_id'].nil?
      header_params[:'X-Auth-Token'] = opts[:'x_auth_token'] if !opts[:'x_auth_token'].nil?
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuthID', 'ApiKeyAuthToken']

      new_options = opts.merge(
        :operation => :"CallApi.api_v1_account_auth_id_call_speak_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallApi#api_v1_account_auth_id_call_speak_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
