=begin
#Vobiz API

#Complete Vobiz API collection covering all endpoints: Calls, Conferences, Recordings, Account, Phone Numbers, Applications, Endpoints, Trunks, Sub-Accounts, and CDR.  Base URL: https://api.vobiz.ai  Authentication: All requests require X-Auth-ID and X-Auth-Token headers.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Vobiz
  class CDRApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Call Detail Records
    # Retrieve call detail records with filtering and pagination.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @option opts [String] :start_date Start date (YYYY-MM-DD)
    # @option opts [String] :end_date End date (YYYY-MM-DD)
    # @option opts [Integer] :per_page Results per page
    # @option opts [Integer] :page Page number
    # @return [nil]
    def api_v1_account_account_id_cdr_get(account_id, opts = {})
      api_v1_account_account_id_cdr_get_with_http_info(account_id, opts)
      nil
    end

    # Get Call Detail Records
    # Retrieve call detail records with filtering and pagination.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @option opts [String] :start_date Start date (YYYY-MM-DD)
    # @option opts [String] :end_date End date (YYYY-MM-DD)
    # @option opts [Integer] :per_page Results per page
    # @option opts [Integer] :page Page number
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_v1_account_account_id_cdr_get_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CDRApi.api_v1_account_account_id_cdr_get ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CDRApi.api_v1_account_account_id_cdr_get"
      end
      # resource path
      local_var_path = '/api/v1/account/{account_id}/cdr'.sub('{' + 'account_id' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_date'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'end_date'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Auth-ID'] = opts[:'x_auth_id'] if !opts[:'x_auth_id'].nil?
      header_params[:'X-Auth-Token'] = opts[:'x_auth_token'] if !opts[:'x_auth_token'].nil?
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuthID', 'ApiKeyAuthToken']

      new_options = opts.merge(
        :operation => :"CDRApi.api_v1_account_account_id_cdr_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CDRApi#api_v1_account_account_id_cdr_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
