=begin
#Vobiz API

#Complete Vobiz API collection covering all endpoints: Calls, Conferences, Recordings, Account, Phone Numbers, Applications, Endpoints, Trunks, Sub-Accounts, and CDR.  Base URL: https://api.vobiz.ai  Authentication: All requests require X-Auth-ID and X-Auth-Token headers.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Vobiz
  class PhoneNumbersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List Inventory Numbers
    # Browse available phone numbers in inventory for purchase.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @option opts [String] :country Filter by country code
    # @option opts [Integer] :page Page number
    # @option opts [Integer] :per_page Results per page
    # @return [nil]
    def api_v1_account_auth_id_inventory_numbers_get(auth_id, opts = {})
      api_v1_account_auth_id_inventory_numbers_get_with_http_info(auth_id, opts)
      nil
    end

    # List Inventory Numbers
    # Browse available phone numbers in inventory for purchase.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @option opts [String] :country Filter by country code
    # @option opts [Integer] :page Page number
    # @option opts [Integer] :per_page Results per page
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_v1_account_auth_id_inventory_numbers_get_with_http_info(auth_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneNumbersApi.api_v1_account_auth_id_inventory_numbers_get ...'
      end
      # verify the required parameter 'auth_id' is set
      if @api_client.config.client_side_validation && auth_id.nil?
        fail ArgumentError, "Missing the required parameter 'auth_id' when calling PhoneNumbersApi.api_v1_account_auth_id_inventory_numbers_get"
      end
      # resource path
      local_var_path = '/api/v1/account/{auth_id}/inventory/numbers'.sub('{' + 'auth_id' + '}', CGI.escape(auth_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Auth-ID'] = opts[:'x_auth_id'] if !opts[:'x_auth_id'].nil?
      header_params[:'X-Auth-Token'] = opts[:'x_auth_token'] if !opts[:'x_auth_token'].nil?
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuthID', 'ApiKeyAuthToken']

      new_options = opts.merge(
        :operation => :"PhoneNumbersApi.api_v1_account_auth_id_inventory_numbers_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneNumbersApi#api_v1_account_auth_id_inventory_numbers_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unrent a Phone Number
    # Release (unrent) a phone number from your account.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @return [nil]
    def api_v1_account_auth_id_numbers_e164_number_delete(auth_id, opts = {})
      api_v1_account_auth_id_numbers_e164_number_delete_with_http_info(auth_id, opts)
      nil
    end

    # Unrent a Phone Number
    # Release (unrent) a phone number from your account.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_v1_account_auth_id_numbers_e164_number_delete_with_http_info(auth_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneNumbersApi.api_v1_account_auth_id_numbers_e164_number_delete ...'
      end
      # verify the required parameter 'auth_id' is set
      if @api_client.config.client_side_validation && auth_id.nil?
        fail ArgumentError, "Missing the required parameter 'auth_id' when calling PhoneNumbersApi.api_v1_account_auth_id_numbers_e164_number_delete"
      end
      # resource path
      local_var_path = '/api/v1/account/{auth_id}/numbers/:e164_number'.sub('{' + 'auth_id' + '}', CGI.escape(auth_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Auth-ID'] = opts[:'x_auth_id'] if !opts[:'x_auth_id'].nil?
      header_params[:'X-Auth-Token'] = opts[:'x_auth_token'] if !opts[:'x_auth_token'].nil?
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuthID', 'ApiKeyAuthToken']

      new_options = opts.merge(
        :operation => :"PhoneNumbersApi.api_v1_account_auth_id_numbers_e164_number_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneNumbersApi#api_v1_account_auth_id_numbers_e164_number_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Account Phone Numbers
    # Retrieve all phone numbers associated with your account.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @return [nil]
    def api_v1_account_auth_id_numbers_get(auth_id, opts = {})
      api_v1_account_auth_id_numbers_get_with_http_info(auth_id, opts)
      nil
    end

    # List Account Phone Numbers
    # Retrieve all phone numbers associated with your account.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_v1_account_auth_id_numbers_get_with_http_info(auth_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneNumbersApi.api_v1_account_auth_id_numbers_get ...'
      end
      # verify the required parameter 'auth_id' is set
      if @api_client.config.client_side_validation && auth_id.nil?
        fail ArgumentError, "Missing the required parameter 'auth_id' when calling PhoneNumbersApi.api_v1_account_auth_id_numbers_get"
      end
      # resource path
      local_var_path = '/api/v1/account/{auth_id}/numbers'.sub('{' + 'auth_id' + '}', CGI.escape(auth_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Auth-ID'] = opts[:'x_auth_id'] if !opts[:'x_auth_id'].nil?
      header_params[:'X-Auth-Token'] = opts[:'x_auth_token'] if !opts[:'x_auth_token'].nil?
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuthID', 'ApiKeyAuthToken']

      new_options = opts.merge(
        :operation => :"PhoneNumbersApi.api_v1_account_auth_id_numbers_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneNumbersApi#api_v1_account_auth_id_numbers_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Purchase from Inventory
    # Purchase a phone number from available inventory.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @option opts [Object] :body 
    # @return [nil]
    def api_v1_account_auth_id_numbers_purchase_from_inventory_post(auth_id, opts = {})
      api_v1_account_auth_id_numbers_purchase_from_inventory_post_with_http_info(auth_id, opts)
      nil
    end

    # Purchase from Inventory
    # Purchase a phone number from available inventory.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @option opts [Object] :body 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_v1_account_auth_id_numbers_purchase_from_inventory_post_with_http_info(auth_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneNumbersApi.api_v1_account_auth_id_numbers_purchase_from_inventory_post ...'
      end
      # verify the required parameter 'auth_id' is set
      if @api_client.config.client_side_validation && auth_id.nil?
        fail ArgumentError, "Missing the required parameter 'auth_id' when calling PhoneNumbersApi.api_v1_account_auth_id_numbers_purchase_from_inventory_post"
      end
      # resource path
      local_var_path = '/api/v1/account/{auth_id}/numbers/purchase-from-inventory'.sub('{' + 'auth_id' + '}', CGI.escape(auth_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Auth-ID'] = opts[:'x_auth_id'] if !opts[:'x_auth_id'].nil?
      header_params[:'X-Auth-Token'] = opts[:'x_auth_token'] if !opts[:'x_auth_token'].nil?
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuthID', 'ApiKeyAuthToken']

      new_options = opts.merge(
        :operation => :"PhoneNumbersApi.api_v1_account_auth_id_numbers_purchase_from_inventory_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneNumbersApi#api_v1_account_auth_id_numbers_purchase_from_inventory_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
