=begin
#Vobiz API

#Complete Vobiz API collection covering all endpoints: Calls, Conferences, Recordings, Account, Phone Numbers, Applications, Endpoints, Trunks, Sub-Accounts, and CDR.  Base URL: https://api.vobiz.ai  Authentication: All requests require X-Auth-ID and X-Auth-Token headers.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Vobiz
  class RecordingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List All Recordings
    # Retrieve a paginated list of call recordings for your account.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @option opts [Integer] :limit Records per request (default: 20, max: 100)
    # @option opts [Integer] :offset Pagination offset (default: 0)
    # @option opts [String] :call_uuid Filter by specific call UUID
    # @option opts [String] :recording_type Filter by type: trunk or extension
    # @return [nil]
    def api_v1_account_account_id_recording_get(account_id, opts = {})
      api_v1_account_account_id_recording_get_with_http_info(account_id, opts)
      nil
    end

    # List All Recordings
    # Retrieve a paginated list of call recordings for your account.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @option opts [Integer] :limit Records per request (default: 20, max: 100)
    # @option opts [Integer] :offset Pagination offset (default: 0)
    # @option opts [String] :call_uuid Filter by specific call UUID
    # @option opts [String] :recording_type Filter by type: trunk or extension
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_v1_account_account_id_recording_get_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecordingApi.api_v1_account_account_id_recording_get ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling RecordingApi.api_v1_account_account_id_recording_get"
      end
      # resource path
      local_var_path = '/api/v1/Account/{account_id}/Recording/'.sub('{' + 'account_id' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'call_uuid'] = opts[:'call_uuid'] if !opts[:'call_uuid'].nil?
      query_params[:'recording_type'] = opts[:'recording_type'] if !opts[:'recording_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Auth-ID'] = opts[:'x_auth_id'] if !opts[:'x_auth_id'].nil?
      header_params[:'X-Auth-Token'] = opts[:'x_auth_token'] if !opts[:'x_auth_token'].nil?
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuthID', 'ApiKeyAuthToken']

      new_options = opts.merge(
        :operation => :"RecordingApi.api_v1_account_account_id_recording_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecordingApi#api_v1_account_account_id_recording_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Export Historical Recordings
    # Export recordings as a downloadable archive sent via email (async). Returns 202 Accepted.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @option opts [Object] :body 
    # @return [nil]
    def api_v1_account_auth_id_export_recording_post(auth_id, opts = {})
      api_v1_account_auth_id_export_recording_post_with_http_info(auth_id, opts)
      nil
    end

    # Export Historical Recordings
    # Export recordings as a downloadable archive sent via email (async). Returns 202 Accepted.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @option opts [Object] :body 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_v1_account_auth_id_export_recording_post_with_http_info(auth_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecordingApi.api_v1_account_auth_id_export_recording_post ...'
      end
      # verify the required parameter 'auth_id' is set
      if @api_client.config.client_side_validation && auth_id.nil?
        fail ArgumentError, "Missing the required parameter 'auth_id' when calling RecordingApi.api_v1_account_auth_id_export_recording_post"
      end
      # resource path
      local_var_path = '/api/v1/Account/{auth_id}/export/recording/'.sub('{' + 'auth_id' + '}', CGI.escape(auth_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Auth-ID'] = opts[:'x_auth_id'] if !opts[:'x_auth_id'].nil?
      header_params[:'X-Auth-Token'] = opts[:'x_auth_token'] if !opts[:'x_auth_token'].nil?
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuthID', 'ApiKeyAuthToken']

      new_options = opts.merge(
        :operation => :"RecordingApi.api_v1_account_auth_id_export_recording_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecordingApi#api_v1_account_auth_id_export_recording_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk Delete Recordings
    # Delete multiple recordings matching filter criteria (async operation). Returns 202 Accepted.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @option opts [String] :add_time__gte Delete recordings on/after this date (YYYY-MM-DD HH:MM:SS)
    # @option opts [String] :add_time__lte Delete recordings on/before this date
    # @option opts [String] :call_uuid Delete recordings for specific call UUID
    # @option opts [String] :from_number Delete by caller number (partial match)
    # @option opts [String] :to_number Delete by destination number (partial match)
    # @option opts [String] :recording_format mp3 or wav
    # @return [nil]
    def api_v1_account_auth_id_recording_bulk_delete_delete(auth_id, opts = {})
      api_v1_account_auth_id_recording_bulk_delete_delete_with_http_info(auth_id, opts)
      nil
    end

    # Bulk Delete Recordings
    # Delete multiple recordings matching filter criteria (async operation). Returns 202 Accepted.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @option opts [String] :add_time__gte Delete recordings on/after this date (YYYY-MM-DD HH:MM:SS)
    # @option opts [String] :add_time__lte Delete recordings on/before this date
    # @option opts [String] :call_uuid Delete recordings for specific call UUID
    # @option opts [String] :from_number Delete by caller number (partial match)
    # @option opts [String] :to_number Delete by destination number (partial match)
    # @option opts [String] :recording_format mp3 or wav
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_v1_account_auth_id_recording_bulk_delete_delete_with_http_info(auth_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecordingApi.api_v1_account_auth_id_recording_bulk_delete_delete ...'
      end
      # verify the required parameter 'auth_id' is set
      if @api_client.config.client_side_validation && auth_id.nil?
        fail ArgumentError, "Missing the required parameter 'auth_id' when calling RecordingApi.api_v1_account_auth_id_recording_bulk_delete_delete"
      end
      # resource path
      local_var_path = '/api/v1/Account/{auth_id}/Recording/BulkDelete/'.sub('{' + 'auth_id' + '}', CGI.escape(auth_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'add_time__gte'] = opts[:'add_time__gte'] if !opts[:'add_time__gte'].nil?
      query_params[:'add_time__lte'] = opts[:'add_time__lte'] if !opts[:'add_time__lte'].nil?
      query_params[:'call_uuid'] = opts[:'call_uuid'] if !opts[:'call_uuid'].nil?
      query_params[:'from_number'] = opts[:'from_number'] if !opts[:'from_number'].nil?
      query_params[:'to_number'] = opts[:'to_number'] if !opts[:'to_number'].nil?
      query_params[:'recording_format'] = opts[:'recording_format'] if !opts[:'recording_format'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Auth-ID'] = opts[:'x_auth_id'] if !opts[:'x_auth_id'].nil?
      header_params[:'X-Auth-Token'] = opts[:'x_auth_token'] if !opts[:'x_auth_token'].nil?
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuthID', 'ApiKeyAuthToken']

      new_options = opts.merge(
        :operation => :"RecordingApi.api_v1_account_auth_id_recording_bulk_delete_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecordingApi#api_v1_account_auth_id_recording_bulk_delete_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a Recording
    # Permanently delete a specific recording. Returns 204 No Content.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @return [nil]
    def api_v1_account_auth_id_recording_delete(auth_id, opts = {})
      api_v1_account_auth_id_recording_delete_with_http_info(auth_id, opts)
      nil
    end

    # Delete a Recording
    # Permanently delete a specific recording. Returns 204 No Content.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_v1_account_auth_id_recording_delete_with_http_info(auth_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecordingApi.api_v1_account_auth_id_recording_delete ...'
      end
      # verify the required parameter 'auth_id' is set
      if @api_client.config.client_side_validation && auth_id.nil?
        fail ArgumentError, "Missing the required parameter 'auth_id' when calling RecordingApi.api_v1_account_auth_id_recording_delete"
      end
      # resource path
      local_var_path = '/api/v1/Account/{auth_id}/Recording/{}/'.sub('{' + 'auth_id' + '}', CGI.escape(auth_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Auth-ID'] = opts[:'x_auth_id'] if !opts[:'x_auth_id'].nil?
      header_params[:'X-Auth-Token'] = opts[:'x_auth_token'] if !opts[:'x_auth_token'].nil?
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuthID', 'ApiKeyAuthToken']

      new_options = opts.merge(
        :operation => :"RecordingApi.api_v1_account_auth_id_recording_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecordingApi#api_v1_account_auth_id_recording_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a Recording
    # Get detailed information about a specific recording.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @return [nil]
    def api_v1_account_auth_id_recording_get(auth_id, opts = {})
      api_v1_account_auth_id_recording_get_with_http_info(auth_id, opts)
      nil
    end

    # Retrieve a Recording
    # Get detailed information about a specific recording.
    # @param auth_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_auth_id 
    # @option opts [String] :x_auth_token 
    # @option opts [String] :content_type 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_v1_account_auth_id_recording_get_with_http_info(auth_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecordingApi.api_v1_account_auth_id_recording_get ...'
      end
      # verify the required parameter 'auth_id' is set
      if @api_client.config.client_side_validation && auth_id.nil?
        fail ArgumentError, "Missing the required parameter 'auth_id' when calling RecordingApi.api_v1_account_auth_id_recording_get"
      end
      # resource path
      local_var_path = '/api/v1/Account/{auth_id}/Recording/{}/'.sub('{' + 'auth_id' + '}', CGI.escape(auth_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Auth-ID'] = opts[:'x_auth_id'] if !opts[:'x_auth_id'].nil?
      header_params[:'X-Auth-Token'] = opts[:'x_auth_token'] if !opts[:'x_auth_token'].nil?
      header_params[:'Content-Type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuthID', 'ApiKeyAuthToken']

      new_options = opts.merge(
        :operation => :"RecordingApi.api_v1_account_auth_id_recording_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecordingApi#api_v1_account_auth_id_recording_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
